.add-meds {
    background-color: blue;
}

.add-meds:hover {
    cursor: pointer;
}

.cancel-button {
    margin-left: 25px;
}

.med-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
