header {
    align-items: center;
    background-color: #0085f5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    width: 100%;
}

.nav {
    color: white;
    height: 30px;
    text-decoration: none;
}

.orderly-logo {
    background-image: url('../Assets/orderly_workmark_flat_2.png');
    min-height: 25px;
    min-width: 100px;
}