
.not-selected {
    background-color: white;
    color: gray;
}


.no-text-alerts {
    background-color: red;
}

/* .personal-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.selected {
    background-color: gray;
    color: white;
}

.text-alerts {
    background-color: green;
}

.not-selected:hover, .selected:hover, .text-alerts:hover, .no-text-alerts:hover {
    cursor: pointer;
}